<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <link rel="stylesheet" href="../static/plu/bootstrap-3.4.1/css/bootstrap.css">

</head>
<body>
<ul class="nav nav-tabs">
  <li role="presentation" ><a href="grade.html">成绩查询</a></li>
  <li role="presentation"><a href="person.html">个人信息</a></li>
      <li role="presentation"class="active"><a href="course.html">选课系统</a></li>
</ul>
    <div class="container">
        <h1>选课系统</h1>
        <table class="table table-bordered">
      <tr>
            <th class="lead">课程号</th>
            <th class="lead">课程名</th>
            <th class="lead">课程学分</th>
            <th class="lead">课程学时</th>
            <th class="lead">教师</th>
            <th class="lead"></th>
        </tr>
            </thead>
            <tbody>
        {% if tables %}
        {% for table in tables %}
        <tr>
           <td class="lead">{{ course.no }}</td>
           <td class="lead">{{ course.name }}</td>
           <td class="lead">{{ course.credit }}</td>
           <td class="lead">{{ course.class_hour }}</td>
           <td class="lead">{{ course.teacher }}</td>
           {% if course.no in course_selected %}
           <td class="lead">已选</td>
           {% else %}
           <td class="lead"><a href="{{ url_for('course_teachers', CourseNum=table.CourseNum) }}" class="btn btn-outline-success btn-sm" role="button">选课</a></td>
           {% endif %}
        </tr>
        {% endfor %}
        {% endif %}
        </table>
    </div>

</body>
</html>
